# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info
dist/
build/
develop-eggs/
sdist/
eggs/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
static/

# Environments
.env
.venv
env/
venv/

# IDE-specific files
.idea/
.vscode/
*.suo
*.user
*.iml

# OS-specific files
.DS_Store
Thumbs.db
